<div id="stats" class="stats-section section">
  <div class="section-content">
    <div class="container">
      <ul class="stats__items">
        <li class="stats__item">
          <a class="stats__link" href="#experience">
            <div class="stats__icon">
              <img class="stats__icon__img" src="assets/images/icons/emblem.png" alt="${{ index.statsSection.stat1 }}$" loading="lazy">
            </div>
            <div class="stats__text">
              <h3 class="stats__text__num">12+</h3>
              <strong class="stats__text__title">${{ index.statsSection.stat1 }}$</strong>
            </div>
            <i class="stats__arrow fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li class="stats__item">
          <a class="stats__link" href="#portfolio">
            <div class="stats__icon">
              <img class="stats__icon__img" src="assets/images/icons/check-mark.png" alt="${{ index.statsSection.stat2 }}$" loading="lazy">
            </div>
            <div class="stats__text">
              <h3 class="stats__text__num">230+</h3>
              <strong class="stats__text__title">${{ index.statsSection.stat2 }}$</strong>
            </div>
            <i class="stats__arrow fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li class="stats__item">
          <a class="stats__link" href="#testimonials">
            <div class="stats__icon">
              <img class="stats__icon__img" src="assets/images/icons/happy.png" alt="${{ index.statsSection.stat3 }}$" loading="lazy">
            </div>
            <div class="stats__text">
              <h3 class="stats__text__num">95+</h3>
              <strong class="stats__text__title">${{ index.statsSection.stat3 }}$</strong>
            </div>
            <i class="stats__arrow fa-solid fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>