/* Navbar Styles */
/*---------------*/

// line-through on hover mixin
@mixin lineThroughHover($line_height: 0.15rem) {
  & {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: $line_height;
      width: 0;
      background-color: hsl(var(--main-color-one));
      transition: all 0.3s ease-in-out;

      @include appDir() {
        #{dirs(left, right)}: 0;
      }
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}

.navbar {
  &__links {
    @media #{$min_992} {
      @include flexbox(flex, "", center, "", "", "");
    }

    @media #{$max_991} {
      @include flexbox(flex, "", center, "", "", wrap);
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      text-align: center;
      padding: 6.25rem 2.5rem;
      overflow-y: auto;
    }

    &__item {
      @media #{$min_992} {
        &:not(:last-of-type) {
          @include appDir() {
            margin-#{dirs(right, left)}: 1.6rem;
          }
        }
      }

      @media #{$max_991} {
        width: 100%;
        overflow: hidden;

        &:not(:last-of-type) {
          margin-bottom: 0.8rem;
        }
      }
    }

    &__link {
      color: hsl(var(--t-color-one));
      font-family: var(--headings-font-family);
      font-weight: bold;
      padding: 0.4rem 0.2rem;
      @include lineThroughHover();

      @media #{$min_992} {
        font-size: 1rem;
      }

      @media #{$max_991} {
        display: inline-block;
        font-size: 2rem;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 2);
      }

      &::after {
        content: "";
        display: inline-block;
        height: 0.2em;
        width: 0.2em;
        background-color: hsl(var(--t-color-one));
        border-radius: 50%;

        @include appDir() {
          margin-#{dirs(left, right)}: 0.1em;
        }
      }

      &:focus {
        @include focusStyle();
      }
    }
  }

  &::before {
    content: "";
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsl(var(--bg-color-two));
  }

  .offCanvasMenu {
    position: fixed;
    z-index: 2;
    left: 0;
    height: 100vh;
    width: 100vw;
    outline: none;

    @media #{$max_991} {
      display: none;
    }

    .container {
      display: grid;
      place-items: center;
      height: 100vh;
      width: 100vw;
      padding-top: 5rem;

      > * {
        width: 100%;
      }
    }

    &__about {
      .block-subTitle {
        color: hsl(var(--t-color-one));

        @include appDir() {
          font-size: dirs(1rem, 1.1rem);
        }
      }

      .block-title {
        font-size: 2.8rem;
        line-height: 4rem;
      }
    }

    &__contact {
      @include flexbox(flex, "", "", "", "", "");
      gap: 1rem;

      @media #{$max_991} {
        flex-direction: column;
      }

      &__block {
        flex: 1;

        .block-title {
          position: relative;
          display: inline-block;
          font-size: 1.5rem;
          overflow: hidden;
          transition-property: visibility;
          transition-duration: 0s;
          transition-timing-function: linear;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: hsl(var(--main-color-one));
            visibility: visible;
            transition-property: left, right;
            transition: 0.4s linear;
          }
        }
      }

      a {
        @include lineThroughHover(0.1rem);

        &:focus {
          @include focusStyle();
        }
      }
    }
  }

  &:not(.menu-open) {
    @media #{$min_992} {
      &::before,
      .offCanvasMenu {
        transition: all var(--off-canvas-menu-transition) 0.6s;
        top: 100vh;
      }
    }

    @media #{$max_991} {
      &::before,
      .offCanvasMenu,
      .navbar__links {
        transition: all var(--off-canvas-menu-transition) 0.4s;
        top: 100vh;
      }

      .navbar__links {
        &__link {
          transform: translateY(3.125rem);
        }
      }
    }

    .offCanvasMenu {
      > * {
        visibility: hidden;
      }

      &__about {
        .block-subTitle {
          transition: all 0.2s ease-in-out 0.4s;
          transform: translateY(0.625rem);
          opacity: 0;
        }

        .block-title {
          transition: all 0.4s ease-in-out;
          transform: translateY(0.625rem);
          opacity: 0;
        }
      }

      &__contact {
        .block-title {
          transition-delay: 0.2s;
          visibility: hidden;

          &::after {
            @include appDir() {
              #{dirs(left, right)}: -100%;
            }
          }
        }

        ul {
          transition: all 0.2s ease-in-out 0.4s;
          transform: translateY(0.9375rem);
          opacity: 0;
        }
      }
    }
  }

  &.menu-open {
    &::before,
    .offCanvasMenu {
      transition: all var(--off-canvas-menu-transition);
      top: 0;
    }

    @media #{$min_992} {
      .navbar__links,
      ~ .header__actionsIcons .langSwitcher {
        visibility: hidden;
      }

      ~ .header__actionsIcons .langSwitcher {
        z-index: 0;
        opacity: 0;
      }
    }

    @media #{$max_991} {
      .navbar__links {
        transition: all var(--off-canvas-menu-transition);
        top: 0;

        &__link {
          transition-delay: 0.8s;
          transform: translateY(0);
        }
      }
    }

    .offCanvasMenu {
      > * {
        visibility: visible;
      }

      &__about {
        .block-subTitle {
          transition: all 0.2s ease-in-out 1s;
          transform: translateY(0);
          opacity: 1;
        }

        .block-title {
          transition: all 0.4s ease-in-out 1.2s;
          transform: translateY(0);
          opacity: 1;
        }
      }

      &__contact {
        .block-title {
          transition-delay: 1.2s;
          visibility: visible;

          &::after {
            transition-delay: 1s;

            @include appDir() {
              #{dirs(left, right)}: 100%;
            }
          }
        }

        ul {
          transition: all 0.2s ease-in-out 1.4s;
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}
