# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/html-nafie/dist

# dependencies
/html-nafie/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# My Ignored Files
/html-nafie/html-nafie.code-workspace