<div id="skills" class="skills-section section" tabindex="-1">
  <div class="container">
    <div class="section-content">

      <!-- skills text -->
      <div class="skills__text">
        <div class="text-box-inline">
          <span class="subtitle">${{ index.skillsSection.subtitle }}$</span>
          <h2>
            ${{ index.skillsSection.title1 }}$
            <br>
            ${{ index.skillsSection.title2 }}$
          </h2>
          <p>${{ index.skillsSection.paragraph }}$</p>

          <!-- switcher button -->
          <div class="skills__text__switcher toggle-switch-btn">
            <input id="skills-list" type="radio" name="items_type" value="skills" checked>
            <label for="skills-list" class="link-hover">${{ index.skillsSection.skills }}$</label>

            <input id="tools-list" type="radio" name="items_type" value="tools">
            <label for="tools-list" class="link-hover">${{ index.skillsSection.tools }}$</label>

            <span class="switcher-toggle" style="width: calc((100% - 0.5rem) / 2);"></span>
          </div>
        </div>
      </div>

      <!-- skills items -->
      <div class="skills__wrapper">

        <!-- skills list -->
        <ul class="skills__items" data-stagger-delay="50" data-type="skills">
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "HTML5", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/html5.png" alt="HTML5" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "CSS3", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/css3.png" alt="CSS3" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "JavaScript", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/javascript.png" alt="JavaScript" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "TypeScript", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/typescript.png" alt="TypeScript" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "jQuery", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/jquery.png" alt="jQuery" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Bootstrap", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/bootstrap.png" alt="Bootstrap" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Angular", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/angular.png" alt="Angular" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "React", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/react.png" alt="React" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Vue", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/vue.png" alt="Vue" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Firebase", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/firebase.png" alt="Firebase" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "PugJS", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/pugjs.png" alt="PugJS" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "SASS", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/sass.png" alt="SASS" loading="lazy">
            </div>
          </li>
        </ul>

        <!-- tools list -->
        <ul class="skills__items" data-stagger-delay="50" data-type="tools" style="display: none;">
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Ajax", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/ajax.png" alt="Ajax" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Gulp", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/gulp.png" alt="Gulp" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Webpack", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/webpack.png" alt="Webpack" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Git (Github)", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/git.png" alt="Git (Github)" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Npm", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/npm.png" alt="Npm" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Command Line", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/command.png" alt="Command Line" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "VS Code", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/vs-code.png" alt="VS Code" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Trello", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/trello.png" alt="Trello" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "ClickUp", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/clickup.png" alt="ClickUp" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Slack", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/slack.png" alt="Slack" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Photoshop", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/photoshop.png" alt="Photoshop" loading="lazy">
            </div>
          </li>
          <li class="skills__item" tabindex="0" data-tooltip='{ "text": "Adobe XD", "dir": "top" }'>
            <div class="skills__item__icon">
              <img class="skills__item__img" src="assets/images/skills/adobe-xd.png" alt="Adobe XD" loading="lazy">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>