<div class="portfolio-page portfolio-section section page hide-in-preloading">
  <div class="container">
    <div class="section-content">

      <!-- portfolio items -->
      <ul class="portfolio__items has-works">

        <!-- project details -->
        @@include('./components/pages/portfolio-single/project-details/project-details.template.html')

        <!-- project screenshots -->
        @@include('./components/pages/portfolio-single/project-screenshots/project-screenshots.template.html')
      </ul>
    </div>
  </div>
</div>