/* 8. Contact Section Styles */
/*---------------------------*/
.contact {
  &-section {
    .section-content {
      @include flexbox(flex, "", center, "", "", "");
      gap: 3.125rem;

      @media #{$max_991} {
        flex-direction: column;
      }
    }
  }

  &__text,
  &__formHolder {
    @media #{$min_992} {
      flex: 1;
    }
  }

  &__info {
    margin-top: 3.125rem;

    &__item {
      @include flexbox(flex, "", start, "", "", "");
      visibility: hidden;

      &:not(:last-of-type) {
        margin-bottom: 1.25rem;
      }

      &__icon {
        width: 1.5rem;
        color: hsl(var(--t-color-one));
        transition: color var(--global-transition);

        @include appDir() {
          margin-#{dirs(right, left)}: 1.125rem;
        }
      }

      &__text {
        strong {
          display: block;
          margin-bottom: 0.3125rem;
        }

        a {
          &:hover {
            text-decoration: underline;
          }

          &:focus {
            @include focusStyle();
          }
        }
      }
    }
  }

  &__social {
    @include flexbox(flex, "", center, "", "", wrap);
    margin: 2rem -0.3125rem -0.625rem;

    @include appDir() {
      padding-#{dirs(left, right)}: 2.625rem;
    }

    &__item {
      visibility: hidden;
    }

    &__link {
      @include flexbox(flex, "", center, center, "", "");
      height: 2.25rem;
      width: 2.25rem;
      background-color: hsl(var(--bg-color-reverse));
      color: hsl(var(--bg-color-one));
      margin: 0 0.3125rem 0.625rem;
      border-radius: 50%;

      &:hover {
        background-color: hsl(var(--main-color-one));
        color: hsl(var(--light-color));
      }

      &:focus {
        @include focusStyle();
      }
    }
  }

  &__form {
    background-color: hsl(var(--bg-color-two));
    padding: 1.5rem;
    margin: auto;
    border-radius: var(--radius-size);
    box-shadow: var(--card-shadow);
    visibility: hidden;

    @media #{$min_768} {
      max-width: 28.125rem;
    }

    .phone-number {
      .prefix-icon {
        @include appDir() {
          transform: dirs(null, rotateY(180deg) translateY(-50%)) !important;
        }
      }
    }

    .submit-btn {
      width: 100%;

      &::after {
        background-color: hsl(var(--main-color-one));
      }

      &:hover {
        color: hsl(var(--light-color));
      }
    }
  }
}
