<div id="portfolio" class="portfolio-section section" tabindex="-1">
  <div class="container">
    <div class="section-content">

      <!-- portfolio items -->
      <ul class="portfolio__items has-works">

        <!-- portfolio text -->
        <li class="portfolio__text">
          <div class="text-box-inline">
            <span class="subtitle">${{ index.portfolioSection.subtitle }}$</span>
            <h2>
              ${{ index.portfolioSection.title1 }}$
              <br>
              ${{ index.portfolioSection.title2 }}$
            </h2>
            <p>${{ index.portfolioSection.paragraph }}$</p>

            <!-- portfolio works filter -->
            <ul class="portfolio__filters">
              <li class="portfolio__filters__item">
                <button class="portfolio__filters__btn active" onclick="window._filterPortfolioItems(this)">All</button>
              </li>
              <li class="portfolio__filters__item">
                <button class="portfolio__filters__btn" onclick="window._filterPortfolioItems(this)">HTML</button>
              </li>
              <li class="portfolio__filters__item">
                <button class="portfolio__filters__btn" onclick="window._filterPortfolioItems(this)">Angular</button>
              </li>
              <li class="portfolio__filters__item">
                <button class="portfolio__filters__btn" onclick="window._filterPortfolioItems(this)">Vue</button>
              </li>
            </ul>
          </div>
        </li>

        <!-- start items list -->
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-1.png" alt="${{ index.portfolioSection.items.title }}$ 1" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 1</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-2.png" alt="${{ index.portfolioSection.items.title }}$ 2" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 2</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-3.png" alt="${{ index.portfolioSection.items.title }}$ 3" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 3</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-4.png" alt="${{ index.portfolioSection.items.title }}$ 4" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 4</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-5.png" alt="${{ index.portfolioSection.items.title }}$ 5" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 5</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-6.png" alt="${{ index.portfolioSection.items.title }}$ 6" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 6</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-7.png" alt="${{ index.portfolioSection.items.title }}$ 7" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 7</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-8.png" alt="${{ index.portfolioSection.items.title }}$ 8" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 8</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-9.png" alt="${{ index.portfolioSection.items.title }}$ 9" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 9</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-10.png" alt="${{ index.portfolioSection.items.title }}$ 10" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 10</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-11.png" alt="${{ index.portfolioSection.items.title }}$ 11" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 11</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-12.png" alt="${{ index.portfolioSection.items.title }}$ 12" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 12</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-13.png" alt="${{ index.portfolioSection.items.title }}$ 13" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 13</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-14.png" alt="${{ index.portfolioSection.items.title }}$ 14" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 14</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-15.png" alt="${{ index.portfolioSection.items.title }}$ 15" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 15</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="html">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-16.png" alt="${{ index.portfolioSection.items.title }}$ 16" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 16</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="angular">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-17.png" alt="${{ index.portfolioSection.items.title }}$ 17" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 17</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <li class="portfolio__item" data-filter="vue">
          <a class="portfolio__link" href="${{ index.prefix }}$single-portfolio.html" target="_blank" rel="noopener">

            <!-- item image -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-18.png" alt="${{ index.portfolioSection.items.title }}$ 18" loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 18</h3>
              <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
            </div>
          </a>
        </li>
        <!-- end items list -->

        <!-- load more button -->
        <li class="portfolio__loadMore">
          <button class="portfolio__loadMore__btn"
            data-no-works-msg="${{ index.portfolioSection.noWorksMsg }}$"
            onclick="window._loadMorePortfolioItems(this)">
            ${{ index.portfolioSection.loadMoreWorks }}$
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>