/*-----------------------------------------------------------------------------------------*/
/* 1. Color Codes */
/*-----------------------------------------------------------------------------------------*/

:root {
  /* primary color */
  --primary-h: 24;
  --primary-s: 74%;
  --primary-l: 58%;
  --primary-color: var(--primary-h), var(--primary-s), var(--primary-l);

  /* secondary color */
  --secondary-h: 13;
  --secondary-s: 96%;
  --secondary-l: 47%;
  --secondary-color: var(--secondary-h), var(--secondary-s), var(--secondary-l);

  /* light color */
  --light-h: 0;
  --light-s: 0%;
  --light-l: 100%;
  --light-color: var(--light-h), var(--light-s), var(--light-l);

  /* dark color */
  --dark-h: 0;
  --dark-s: 0%;
  --dark-l: 12%;
  --dark-color: var(--dark-h), var(--dark-s), var(--dark-l);

  /* success color */
  --success-h: 135;
  --success-s: 60%;
  --success-l: 40%;
  --success-color: var(--success-h), var(--success-s), var(--success-l);

  /* danger color */
  --danger-h: 355;
  --danger-s: 70%;
  --danger-l: 55%;
  --danger-color: var(--danger-h), var(--danger-s), var(--danger-l);

  /* warning color */
  --warning-h: 45;
  --warning-s: 100%;
  --warning-l: 50%;
  --warning-color: var(--warning-h), var(--warning-s), var(--warning-l);

  /* info color */
  --info-h: 180;
  --info-s: 80%;
  --info-l: 40%;
  --info-color: var(--info-h), var(--info-s), var(--info-l);
}

// mode definitions
[data-mode="light"] {
  --main-color-one: var(--primary-color);
  --main-color-two: var(--secondary-color);

  --bg-color-one: var(--light-h), var(--light-s), calc(var(--light-l) - 10%);
  --bg-color-two: var(--light-color);
  --bg-color-reverse: var(--dark-color);

  --inputs-bg-color: var(--light-h), var(--light-s), calc(var(--light-l) - 7%);

  --t-color-one: var(--dark-color);
  --t-color-two: var(--dark-h), var(--dark-s), calc(var(--dark-l) + 25%);

  --border-color: var(--light-h), var(--light-s), calc(var(--light-l) - 4%);

  --card-shadow: 11px 10px 38px hsla(0, 0%, 0%, 12%);
  --inset-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.08);
  --drop-shadow: drop-shadow(2px 4px 6px hsla(0, 0%, 0%, 20%));

  --filter-invert-true: invert(1);
  --filter-invert-false: invert(0);
}

[data-mode="dark"] {
  --main-color-one: var(--primary-color);
  --main-color-two: var(--secondary-color);

  --bg-color-one: var(--dark-color);
  --bg-color-two: var(--dark-h), var(--dark-s), calc(var(--dark-l) + 7%);
  --bg-color-reverse: var(--light-color);

  --inputs-bg-color: var(--dark-h), var(--dark-s), calc(var(--dark-l) + 4%);

  --t-color-one: var(--light-color);
  --t-color-two: var(--dark-h), var(--dark-s), calc(var(--dark-l) + 50%);

  --border-color: var(--dark-h), var(--dark-s), calc(var(--dark-l) + 4%);

  --card-shadow: 11px 10px 38px hsla(0, 0%, 0%, 38%);
  --inset-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.08);
  --drop-shadow: drop-shadow(2px 4px 6px hsla(0, 0%, 0%, 20%));

  --filter-invert-true: invert(0);
  --filter-invert-false: invert(1);
}
