/* 4. Skills Section Styles */
/*--------------------------*/
.skills-section {
  .section-content {
    align-items: center;
    margin-bottom: -3.125rem;

    > * {
      margin-bottom: 3.125rem;
    }

    .skills-text {
      .toggle-switch-btn {
        @media #{$max_767} {
          margin: auto;
        }
      }
    }

    .skills-items {
      ul {
        @include flexbox(flex, "", center, center, "", wrap);
        margin: 0 -0.5rem -1rem;
        animation: fadeIn 0.3s ease-out;
      }

      li {
        @include flexbox(flex, "", center, center, "", "");
        height: 5rem;
        width: 5rem;
        background-color: hsl(var(--bg-color-two));
        margin: 0 0.5rem 1rem;
        border-radius: var(--radius-size);
        box-shadow: var(--card-shadow);
        cursor: help;
        visibility: hidden;

        .skill-icon {
          img {
            display: block;
            width: 3rem;
            margin: auto;
          }
        }

        &:focus {
          @include focusStyle();
        }
      }
    }
  }
}
