/* 2. Statistics Section Styles */
/*------------------------------*/
.statistics-section {
  .section-content {
    .statistics-items {
      margin-bottom: -2rem;

      li {
        margin-bottom: 2rem;
        visibility: hidden;

        &:nth-of-type(1) {
          .icon {
            background-color: hsl(var(--bg-color-reverse));
            color: hsl(var(--bg-color-one));

            img {
              filter: var(--filter-invert-true);
            }
          }
        }

        &:nth-of-type(2) {
          .icon {
            background-color: hsl(var(--main-color-one));
            color: hsl(var(--light-color));

            img {
              filter: invert(1);
            }
          }
        }

        &:nth-of-type(3) {
          .icon {
            background-color: hsl(var(--bg-color-one));
            color: hsl(var(--bg-color-reverse));

            img {
              filter: var(--filter-invert-false);
            }
          }
        }

        &:hover a {
          margin-top: -0.9375rem;

          > .fa {
            color: hsl(var(--t-color-one));
          }
        }
      }

      a {
        $icon_size: 4rem;

        @include flexbox(flex, "", center, "", "", "");
        height: 100%;
        background-color: hsl(var(--bg-color-two));
        padding: 2rem;
        border-radius: var(--radius-size);
        box-shadow: var(--card-shadow);

        .icon {
          height: $icon_size;
          width: $icon_size;
          @include flexbox(flex, "", center, center, "", "");
          border-radius: 50%;

          img {
            width: 2.5rem;
          }
        }

        .text {
          width: calc(100% - #{$icon_size} - 3.75rem);
          text-align: center;
          margin: {
            left: 2rem;
            right: 2rem;
          }

          h3 {
            color: hsl(var(--main-color-one));
            font-size: 2rem;
          }
        }

        > .fa {
          font-size: 1.2rem;
          transition: all 0.3s ease-in-out;

          @include appDir() {
            transform: dirs(null, rotateY(180deg));
          }
        }

        &:focus {
          @include focusStyle();
        }
      }
    }
  }
}
