/* 3. Not Found Page Styles */
/*--------------------------*/
.not-found-page {
  display: flex;

  .not-found-content {
    text-align: center;
    margin: auto;

    .not-found-img {
      margin-bottom: 3.125rem;

      img {
        width: 100%;
        max-width: 37.5rem;
      }
    }

    .not-found-text {
      margin-bottom: 2rem;
    }
  }
}
