/* 2. Single Portfolio Page Styles */
/*---------------------------------*/
.portfolio-page {
  .portfolio-items {
    .work-tools {
      @include flexbox(flex, "", center, "", "", wrap);
      padding: {
        left: 0.25rem;
        right: 0.25rem;
      }
      margin-bottom: -0.3125rem;

      @media #{$max_576} {
        justify-content: center;
      }

      li {
        margin-bottom: 0.3125rem;

        &:not(:last-of-type) {
          @include appDir() {
            margin-#{dirs(right, left)}: 0.3125rem;
          }
        }

        a {
          display: block;
          background-color: hsl(var(--main-color-one));
          color: hsl(var(--light-color));
          font-size: 0.75rem;
          padding: 0.25rem 0.5rem;
          border-radius: var(--radius-size);

          &:hover {
            background-color: hsl(var(--bg-color-reverse));
            color: hsl(var(--bg-color-one));
          }

          &:focus {
            @include focusStyle();
          }
        }
      }
    }
  }
}
