/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Nafie - HTML Portfolio Template
Version:    1.0.0
Created:    02/2023

1.  Color Codes
    ------------------------------
    1.  Primary Color
    2.  Secondary Color
    3.  Light Color
    4.  Dark Color
    5.  Success Color
    6.  Danger Color
    7.  Warning Color
    8.  Info Color
    ------------------------------

2.  Fonts Family
    ------------------------------
    1.  Logo Font
    2.  Headings Font
    3.  Body Font
    ------------------------------

3.  Animations
    ------------------------------
    1.  Zoom Effects
    2.  Fade Effects
    3.  Spinner Effects
    4.  Slide Effects
    5.  Floating Effect
    ------------------------------

4.  Resets & Global Styles
    ------------------------------

5.  Components Styles
    ------------------------------
    1.  Circle Cursor
    2.  Preloader
    3.  Brand Logo
    4.  Scroll to Top Button
    5.  Ajax Loader
    6.  Toast Notifications
    7.  Header
    8.  Footer
    9.  Custom Scrollbar
    10. Forms
    11. Buttons
    12. Toggle Switch Button
    13. Simple Tooltip
    14. Ultimate Tooltip
    ------------------------------

6.  Pages Styles
    ------------------------------
    1.  Homepage
    2.  Single Portfolio
    3.  Portfolio Archive
    4.  Error Page
    ------------------------------

*********************************************************************************************/
