<div id="hero" class="hero-section hide-in-preloading" data-pan-effect>

  <!-- hero image -->
  <div class="hero__imgWrapper">
    <div class="hero__imgLayer">
      <img class="hero__imgLayer__img" src="assets/images/hero-img.png" alt="User Name" loading="lazy">
    </div>
    <div class="hero__imgLayer">
      <img class="hero__imgLayer__img" src="assets/images/hero-img.png" alt="User Name" loading="lazy">
    </div>
  </div>

  <!-- hero text -->
  <div class="hero__text">
    <h2 class="hero__text__title">
      ${{ index.heroSection.text.line1 }}$
      <br>
      ${{ index.heroSection.text.line2 }}$
    </h2>
    <a href="#contact" class="hero__text__btn w-btn w-btn--s2 w-btn--outline-light">${{ index.heroSection.text.btn }}$</a>
  </div>

  <!-- social icons -->
  <div class="hero__social">
    <ul class="hero__social__list">
      <li class="hero__social__item">
        <a href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.facebook }}$", "dir": "right" }'>
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
      <li class="hero__social__item">
        <a href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.twitter }}$", "dir": "right" }'>
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="hero__social__item">
        <a href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.linkedin }}$", "dir": "right" }'>
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- scroll down button -->
  <div class="hero__scrollDown">
    <a href="#about" title="${{ index.heroSection.scrollDown }}$">${{ index.heroSection.scroll }}$</a>
  </div>
</div>