<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-1.png" data-placeholder="400x400" alt="${{ index.portfolioSection.items.title }}$ 1" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 1</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-2.png" data-placeholder="530x300" alt="${{ index.portfolioSection.items.title }}$ 2" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 2</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-3.png" data-placeholder="390x390" alt="${{ index.portfolioSection.items.title }}$ 3" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 3</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-4.png" data-placeholder="340x510" alt="${{ index.portfolioSection.items.title }}$ 4" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 4</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-5.png" data-placeholder="380x215" alt="${{ index.portfolioSection.items.title }}$ 5" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 5</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-6.png" data-placeholder="400x300" alt="${{ index.portfolioSection.items.title }}$ 6" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 6</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-7.png" data-placeholder="380x215" alt="${{ index.portfolioSection.items.title }}$ 7" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 7</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-8.png" data-placeholder="340x340" alt="${{ index.portfolioSection.items.title }}$ 8" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 8</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-9.png" data-placeholder="300x375" alt="${{ index.portfolioSection.items.title }}$ 9" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 9</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-10.png" data-placeholder="350x200" alt="${{ index.portfolioSection.items.title }}$ 10" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 10</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-11.png" data-placeholder="400x300" alt="${{ index.portfolioSection.items.title }}$ 11" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 11</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-12.png" data-placeholder="300x280" alt="${{ index.portfolioSection.items.title }}$ 12" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 12</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-13.png" data-placeholder="300x270" alt="${{ index.portfolioSection.items.title }}$ 13" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 13</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-14.png" data-placeholder="375x500" alt="${{ index.portfolioSection.items.title }}$ 14" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 14</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-15.png" data-placeholder="375x240" alt="${{ index.portfolioSection.items.title }}$ 15" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 15</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="html"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-16.png" data-placeholder="570x400" alt="${{ index.portfolioSection.items.title }}$ 16" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 16</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="angular"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-17.png" data-placeholder="375x300" alt="${{ index.portfolioSection.items.title }}$ 17" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 17</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>
<li class="portfolio__item"@@if (hasFilter === true) { data-filter="vue"}>
  <a class="portfolio__link" href="${{ index.prefix }}$portfolio-single.html">

    <!-- item image -->
    <div class="portfolio__imgWrapper">
      <img class="portfolio__imgWrapper__img" src="assets/images/portfolio/portfolio-18.png" data-placeholder="350x500" alt="${{ index.portfolioSection.items.title }}$ 18" loading="lazy">
    </div>

    <!-- item details -->
    <div class="portfolio__details">
      <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 18</h3>
      <div class="portfolio__details__date">${{ index.portfolioSection.items.date }}$</div>
    </div>
  </a>
</li>