<div class="portfolio-page portfolio-section section page">
  <div class="container">
    <div class="section-content">

      <!-- portfolio items -->
      <ul class="portfolio__items has-works">

        <!-- portfolio text -->
        <li class="portfolio__text">
          <div class="text-box-block">

            <!-- item category link -->
            <span class="subtitle">
              <a href="${{ index.prefix }}$archive-portfolio.html">Angular</a>
            </span>

            <!-- item title -->
            <h2>${{ index.portfolioSection.items.title }}$ 1</h2>

            <!-- item description -->
            <p>${{ index.portfolioPage.description }}$</p>

            <!-- item tools -->
            <ul class="portfolio__tools">
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">HTML</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">PugJS</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">CSS</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">SCSS</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">JavaScript</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">TypeScript</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">TailwindCSS</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">AJAX</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">Angular</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">NodeJs</a>
              </li>
              <li class="portfolio__tools__item">
                <a class="portfolio__tools__link" href="${{ index.prefix }}$archive-portfolio.html">MongoDB</a>
              </li>
            </ul>

            <!-- item live preview link -->
            <a class="portfolio__livePreview w-btn w-btn--s2 w-btn--dark" href="#" target="_blank" rel="noopener">${{ index.portfolioPage.livePreview }}$</a>
          </div>
        </li>

        <!-- start items list -->
        <li class="portfolio__item">
          <!-- href points to the fully sized image -->
          <a class="portfolio__link glightbox"
            href="assets/images/single-portfolio/single-portfolio-1.png"
            target="_blank" rel="noopener"
            data-gallery="gallery1"
            data-glightbox="title: ${{ index.portfolioPage.caption }}$ 1">

            <!-- item image thumbnails -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img"
                src="assets/images/single-portfolio/single-portfolio-1.png"
                alt="${{ index.portfolioPage.caption }}$ 1"
                loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 1</h3>
            </div>
          </a>
        </li>
        <li class="portfolio__item">
          <!-- href points to the fully sized image -->
          <a class="portfolio__link glightbox"
            href="assets/images/single-portfolio/single-portfolio-2.png"
            target="_blank" rel="noopener"
            data-gallery="gallery1"
            data-glightbox="title: ${{ index.portfolioPage.caption }}$ 2">

            <!-- item image thumbnails -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img"
                src="assets/images/single-portfolio/single-portfolio-2.png"
                alt="${{ index.portfolioPage.caption }}$ 2"
                loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 2</h3>
            </div>
          </a>
        </li>
        <li class="portfolio__item">
          <!-- href points to the fully sized image -->
          <a class="portfolio__link glightbox"
            href="assets/images/single-portfolio/single-portfolio-3.png"
            target="_blank" rel="noopener"
            data-gallery="gallery1"
            data-glightbox="title: ${{ index.portfolioPage.caption }}$ 3">

            <!-- item image thumbnails -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img"
                src="assets/images/single-portfolio/single-portfolio-3.png"
                alt="${{ index.portfolioPage.caption }}$ 3"
                loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 3</h3>
            </div>
          </a>
        </li>
        <li class="portfolio__item">
          <!-- href points to the fully sized image -->
          <a class="portfolio__link glightbox"
            href="assets/images/single-portfolio/single-portfolio-4.png"
            target="_blank" rel="noopener"
            data-gallery="gallery1"
            data-glightbox="title: ${{ index.portfolioPage.caption }}$ 4">

            <!-- item image thumbnails -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img"
                src="assets/images/single-portfolio/single-portfolio-4.png"
                alt="${{ index.portfolioPage.caption }}$ 4"
                loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 4</h3>
            </div>
          </a>
        </li>
        <li class="portfolio__item">
          <!-- href points to the fully sized image -->
          <a class="portfolio__link glightbox"
            href="assets/images/single-portfolio/single-portfolio-5.png"
            target="_blank" rel="noopener"
            data-gallery="gallery1"
            data-glightbox="title: ${{ index.portfolioPage.caption }}$ 5">

            <!-- item image thumbnails -->
            <div class="portfolio__imgWrapper">
              <img class="portfolio__imgWrapper__img"
                src="assets/images/single-portfolio/single-portfolio-5.png"
                alt="${{ index.portfolioPage.caption }}$ 5"
                loading="lazy">
            </div>

            <!-- item details -->
            <div class="portfolio__details">
              <h3 class="portfolio__details__title">${{ index.portfolioSection.items.title }}$ 5</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>