<div id="contact" class="contact-section section" tabindex="-1">
  <div class="container">
    <div class="section-content">

      <!-- contact text -->
      <div class="contact__text">
        <div class="text-box-inline">
          <span class="subtitle">${{ index.contactSection.subtitle }}$</span>
          <h2>
            ${{ index.contactSection.title1 }}$
            <br>
            ${{ index.contactSection.title2 }}$
          </h2>
          <p>${{ index.contactSection.paragraph }}$</p>
        </div>

        <!-- contact info -->
        <ul class="contact__info">
          <li class="contact__info__item">
            <img class="contact__info__item__icon" src="assets/images/icons/address.png" alt="Address">
            <div class="contact__info__item__text">
              <strong>${{ index.contactSection.info.address.title }}$</strong>
              ${{ index.contactSection.info.address.content }}$
            </div>
          </li>
          <li class="contact__info__item">
            <img class="contact__info__item__icon" src="assets/images/icons/phone.png" alt="Phone">
            <div class="contact__info__item__text">
              <strong>${{ index.contactSection.info.phone }}$</strong>
              <ul>
                <li><a href="tel:02966202290" class="ltr-dir">(02) 966 202 290</a></li>
                <li><a href="tel:02966202291" class="ltr-dir">(02) 966 202 291</a></li>
              </ul>
            </div>
          </li>
          <li class="contact__info__item">
            <img class="contact__info__item__icon" src="assets/images/icons/email.png" alt="Email">
            <div class="contact__info__item__text">
              <strong>${{ index.contactSection.info.email }}$</strong>
              <ul>
                <li><a href="mailto:info@nafie.com">info@nafie.com</a></li>
                <li><a href="mailto:support@nafie.com">support@nafie.com</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <!-- social links -->
        <ul class="contact__social">
          <li class="contact__social__item">
            <a class="contact__social__link" href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.facebook }}$", "dir": "top" }'>
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li class="contact__social__item">
            <a class="contact__social__link" href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.twitter }}$", "dir": "top" }'>
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="contact__social__item">
            <a class="contact__social__link" href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.linkedin }}$", "dir": "top" }'>
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li class="contact__social__item">
            <a class="contact__social__link" href="#" target="_blank" rel="noreferrer" data-tooltip='{ "text": "${{ index.global.social.youtube }}$", "dir": "top" }'>
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- contact form -->
      <div class="contact__formHolder">
        <form class="contact__form form-styled"
          data-url="contact_form.php"
          data-success-msg="${{ index.toastNotifications.messageSent }}$"
          data-err-msg="${{ index.toastNotifications.oopsSomethingWrong }}$">

          <!-- name control -->
          <div class="group">
            <label>${{ index.contactSection.form.nameLabel }}$</label>
            <div class="control has-prefix-icon">
              <input type="text"
                name="name"
                placeholder="${{ index.contactSection.form.namePlaceholder }}$"
                minlength="3"
                required>
              <i class="fa-solid fa-circle-user prefix-icon"></i>

              <!-- validation errors messages -->
              <div class="errors-msgs">
                <input class="required" type="hidden" value="${{ index.contactSection.form.nameLabel }}$ ${{ index.toastNotifications.formsValidation.isRequired }}$">
                <input class="minLength" type="hidden" value="${{ index.contactSection.form.nameLabel }}$ ${{ index.toastNotifications.formsValidation.mustBeAtLeast }}$ ${{ index.numbers.3 }}$ ${{ index.toastNotifications.formsValidation.characters }}$">
              </div>
            </div>
          </div>

          <!-- email control -->
          <div class="group">
            <label>${{ index.contactSection.form.emailLabel }}$</label>
            <div class="control has-prefix-icon">
              <input class="ltr-dir"
                type="email"
                inputmode="email"
                name="email"
                placeholder="${{ index.contactSection.form.emailPlaceholder }}$"
                required>
              <i class="fa-solid fa-envelope prefix-icon"></i>

              <!-- validation errors messages -->
              <div class="errors-msgs">
                <input class="required" type="hidden" value="${{ index.contactSection.form.emailLabel }}$ ${{ index.toastNotifications.formsValidation.isRequired }}$">
                <input class="invalid" type="hidden" value="${{ index.toastNotifications.formsValidation.enterValidEmail }}$">
              </div>
            </div>
          </div>

          <!-- phone control -->
          <div class="group phone-number">
            <label>${{ index.contactSection.form.phoneLabel }}$ <span class="optional">${{ index.global.optional }}$</span></label>
            <div class="control has-prefix-icon">
              <input type="tel"
                inputmode="tel"
                name="phone"
                placeholder="${{ index.contactSection.form.phonePlaceholder }}$">
              <i class="fa-solid fa-phone prefix-icon"></i>

              <!-- validation errors messages -->
              <div class="errors-msgs">
                <input class="invalid" type="hidden" value="${{ index.toastNotifications.formsValidation.enterValidPhone }}$">
              </div>
            </div>
          </div>

          <!-- message control -->
          <div class="group">
            <label>${{ index.contactSection.form.messageLabel }}$</label>
            <div class="control has-prefix-icon">
              <textarea name="message" placeholder="${{ index.contactSection.form.messagePlaceholder }}$" required></textarea>
              <i class="fa-solid fa-comments prefix-icon"></i>

              <!-- validation errors messages -->
              <div class="errors-msgs">
                <input class="required" type="hidden" value="${{ index.contactSection.form.messageLabel }}$ ${{ index.toastNotifications.formsValidation.isRequired }}$">
              </div>
            </div>
          </div>

          <!-- submit button -->
          <div class="group">
            <div class="control">
              <button class="submit-btn w-btn w-btn--s2 w-btn--dark" type="button" onclick="window._contactFormValidation(this)">${{ index.contactSection.form.submitBtn }}$</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>