<div class="langsDropdown">
  <a class="langsDropdown__toggle" href="#">${{ index.i18n.lang.short }}$</a>

  <ul class="langsDropdown__menu">
    <li class="langsDropdown__menu__item">
      <a class="langsDropdown__menu__link" href="${{ index.prefix }}$index.html">${{ index.i18n.lang.short }}$</a>
    </li>
    <li class="langsDropdown__menu__item">
      <a class="langsDropdown__menu__link" href="${{ index.i18n.otherLang.prefix }}$index.html">${{ index.i18n.otherLang.short }}$</a>
    </li>
  </ul>
</div>